In [2]:
print("Hello World! from Python")

Hello World! from Python

In [3]:
#import a new library. => This is a comment.. Python will not execute this
import sys
sys.version

'3.8.12 (default, Oct 12 2021, 06:23:56) \n[Clang 10.0.0 ]'

In [4]:
22 + 7

29

In [5]:
22/7

3.142857142857143

# This is a note block for markdown notes
## I can use this note block to take important notes

In [17]:
#declaring variables in python
age = 36
my_name = "Prem" #String
my_job = 'Data Scientist'

In [8]:
my_name + my_job

'PremData Scientist'

In [9]:
my_name + " " + my_job

'Prem Data Scientist'

In [13]:
type(age)

int

In [14]:
type(my_name)

str

In [12]:
print("Hello, my name is " + my_name + ". I am a " + my_job + ". My age is " + age)

TypeError: can only concatenate str (not "int") to str

In [15]:
# Method 1: cast age as str
print("Hello, my name is " + my_name + ". I am a " + my_job + ". My age is " + str(age))

Hello, my name is Prem. I am a Data Scientist. My age is 36

In [16]:
#Method 2: string formatting
print("Hello, my name is " + my_name + ". I am a " + my_job + ". My age is {}".format(age) )

Hello, my name is Prem. I am a Data Scientist. My age is 36

In [18]:
#Method 3 : Hardcoded
print("Hello, my name is Prem. I am a Data Scientist. My age is 36")

Hello, my name is Prem. I am a Data Scientist. My age is 36

In [19]:
my_sentence = "Hello, my name is " + my_name + ". I am a " + my_job + ". My age is " + str(age)
my_sentence

'Hello, my name is Prem. I am a Data Scientist. My age is 36'

In [32]:
# get the string Prem from the sentence
# string indexing
my_sentence[0:5:1]

'Hello'

In [27]:
#the final character/item is denoted as -1
my_sentence[-2:]

'36'

In [29]:
my_sentence[18:22]

'Prem'

In [31]:
#string[start:end:step_size]
my_sentence[0:5:3]

'Hl'

In [33]:
my_sentence.capitalize()

'Hello, my name is prem. i am a data scientist. my age is 36'

In [36]:
my_sentence.find('Prem')

18

In [37]:
my_sentence.upper()

'HELLO, MY NAME IS PREM. I AM A DATA SCIENTIST. MY AGE IS 36'

In [38]:
my_sentence.lower()

'hello, my name is prem. i am a data scientist. my age is 36'

### Python Collections

In [39]:
#This is how we create a list in Python []
my_list = [1,2,3,4,"Some string", 3.142]

In [40]:
#Get value 4 from my_list
my_list[3]

4

In [41]:
#Get 'some string' form my_list
my_list[4]

'Some string'

In [44]:
#Get the word "some" from my_list
my_list[4][0:4].lower()

'some'

In [45]:
s = my_list[4][0:4]
s

'Some'

In [48]:
s.lower()

'some'

In [55]:
my_sentence.split('.')[1]

' I am a Data Scientist'

In [51]:
my_sentence[0]

'H'

In [56]:
my_sentence

'Hello, my name is Prem. I am a Data Scientist. My age is 36'

In [57]:
#flip/mirror a list or a sentence
my_sentence[::-1]

'63 si ega yM .tsitneicS ataD a ma I .merP si eman ym ,olleH'

In [58]:
my_list[::-1]

[3.142, 'Some string', 4, 3, 2, 1]

In [59]:
#python dictionaries => {key: value} pair
my_dictionary = {'name': "Xian Wei", 'age': 30, 'hobby': 'drinking'}

In [61]:
my_dictionary[0]

KeyError: 0

In [62]:
my_dictionary['hobby']

'drinking'

In [63]:
my_dictionary = {'name': ["Xian Wei", 'Joy', 'Yati'], 'age': [30, 28, 28], 'hobby': ['drinking', 'music','reading']}

In [64]:
my_dictionary['name'][1]

'Joy'

In [68]:
my_dictionary.keys()

dict_keys(['name', 'age', 'hobby'])

In [67]:
my_dictionary.items()

dict_items([('name', ['Xian Wei', 'Joy', 'Yati']), ('age', [30, 28, 28]), ('hobby', ['drinking', 'music', 'reading'])])

`list => []`
<br>
`dictionary => {key: value}`
<br>
`function/method execution => ()`
<br>
string formatting => `{}` is the syntax

In [71]:
prem = 36
a = prem #now prem is a variable that is undeclared

In [72]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [73]:
#get the word 'Hello'
d.keys()

dict_keys(['k1'])

In [81]:
d['k1'][2]['k2'][1]['tough'][2][0].capitalize()

'Hello'

In [84]:
d['k1'][2]['k2']

['this is tricky', {'tough': [1, 2, ['hello']]}]