## Question 1: Function
Write a function that rounds any number given to two decimal places

In [5]:
def round_num(num):
    num = float(num)
    return round(num,2)

In [10]:
round_num(3.1422)

3.14

In [8]:
def print_num(num):
    print("{:.2f}".format(num)) #string => you cant do any mathematical operation

In [11]:
print_num(3.1422)

3.14

## Question 2: Function 2
How many times does the letter 'w' show up in the string below?

```python
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'
```

In [12]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

counter = 0

for i in s:
    if i == 'w':
        counter += 1
counter

12

In [16]:
s.count('w')

12

## Question 3: Sets and Elements
Find the elements in set1 that are not in set2
```python
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}
```

In [17]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

In [19]:
set1 - set2

{2}

In [20]:
set1.difference(set2)

{2}

## Question 4: Dictionary Comprehension
Create this dictionary: {0: 0, 1: 1, 2: 8, 3: 27, 4: 64} using dictionary comprehension.

In [22]:
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [23]:
empty = {}
for x in range(5):
    empty[x] = x**3

empty

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

## Question 5: Temperature conversion



Write a function that take a deg C or Deg F and scale as input and returns what kind of temperature. The temperature grade in Kelvin scale is

<ul>
<li>temperature > 299: Too hot</li>
<li>temperature less than equal to 299 and greater than 288: It's just right! </li>
<li>temperature less than and equal to 288 and greater than 277: It's pretty cold!</li>
    <li> Temp less than 277: its freezing </li>
</ul>


The formulas to use:
<ul>
<li>Celsius to Kelvin : K = °C + 273</li>
<li>Fahrenheit to Kelvin : K = (5/9) * (°F - 32) + 273</li>
</ul>

In [24]:
def convert_temp(temp, scale):
    '''
    input params:
    temp = temperature as a number
    scale = F/C stands for either Farenheit or Celcius
    '''
    if scale == 'F':
        kelvin = (5/9) * (temp-32) + 273
    else:
        kelvin = temp + 273
    
    #Probably store this in another function
    if kelvin > 299:
        return 'Too Hot'
    elif kelvin <= 299 and kelvin > 288:
        return "It's just right"
    elif kelvin <= 288 and kelvin > 277:
        return "It's pretty cold"
    else:
        return "It's freezing"

In [29]:
convert_temp(50, "F")

"It's pretty cold"

## Question 6 (BONUS): Usage of iteration tools => You should Google this
Use the tuple below to get an output like:

        ANIMAL
        wolf is a type of animal
        sparrow is a type of animal

        PLANT
        cactus is a type of plant

        VEHICLE
        yacht is a type of vehicle
        school bus is a type of vehicle
        car is a type of vehicle


```python
things_tuple = [("animal", "wolf"), ("animal", "sparrow"), ("plant", "cactus"), 
                ("vehicle", "yacht"), ("vehicle", "school bus"), ("vehicle", "car")]

# Output should look like the one above, printed in console

```

In [31]:
import operator
import itertools

In [47]:
example_tuple = ('plant','animal', 'vehicle')
sorted(example_tuple)

['animal', 'plant', 'vehicle']

In [48]:
sorted(things_tuple)

[('animal', 'sparrow'),
 ('animal', 'wolf'),
 ('plant', 'cactus'),
 ('vehicle', 'car'),
 ('vehicle', 'school bus'),
 ('vehicle', 'yacht')]

In [45]:
things_tuple = [("animal", "wolf"), ("animal", "sparrow"), ("plant", "cactus"), 
                ("vehicle", "yacht"), ("vehicle", "school bus"), ("vehicle", "car")]

#sorted => sorts things tuple from A-Z, looking at tuple_index[0] => operator.itemgetter[0]
#groupby => groups things_tuple by tuple_index[0] => operator.itemgetter[0]
sort_values = itertools.groupby(sorted(things_tuple, key = operator.itemgetter(0)),operator.itemgetter(0))

#sort_values
'''
[('animal',('wolf','sparrow')),
('plant',('cactus')),
('vehicle',('yacht','school bus', 'car'))]
'''

"\n[('animal',('wolf','sparrow')),\n('plant',('cactus')),\n('vehicle',('yacht','school bus', 'car'))]\n"

In [46]:
#loop through sort_values which is technically a sorted tuple stored as generators
for k,v in sort_values:
    print(k.upper())
    for item in v:
        print("{} is a type of {}".format(item[1],k))
    print('\n') #prints new line

ANIMAL
wolf is a type of animal
sparrow is a type of animal


PLANT
cactus is a type of plant


VEHICLE
yacht is a type of vehicle
school bus is a type of vehicle
car is a type of vehicle