In [1]:
my_list = [1,2,3,4,"Some string", 3.142]

In [2]:
#add new items into a list programatically
len(my_list)

6

In [3]:
#what is in index 2
my_list[2]

3

In [4]:
#modify index 2
my_list[2] = 'modified item'

In [5]:
my_list

[1, 2, 'modified item', 4, 'Some string', 3.142]

In [6]:
len(my_list)

6

In [7]:
#add new items to a list
my_list.append(6.129)

In [8]:
my_list

[1, 2, 'modified item', 4, 'Some string', 3.142, 6.129]

In [9]:
#remove items from list
my_list.remove(3.142)

In [10]:
my_list

[1, 2, 'modified item', 4, 'Some string', 6.129]

In [11]:
my_list.remove(3)

ValueError: list.remove(x): x not in list

In [12]:
my_list.append(1)

In [13]:
my_list

[1, 2, 'modified item', 4, 'Some string', 6.129, 1]

In [14]:
my_list.remove(1)

In [15]:
my_list

[2, 'modified item', 4, 'Some string', 6.129, 1]

## Different Data Types

- Numbers
- Strings
- Lists
- Dictionaries
- Tuples
- String Indexing
- Printing and String Formatting
- Python operators and comparison operators
- List Indexing and Dictionary items. d.iter or d.items


### Mutable and Immutable Data Types
**Immutable types**: Strings, Numbers, Tuples, Sets <br>
**Mutable types**: Lists, Dictionaries

### Python Operators
`+` addition <br>
`-` substract <br>
`*` multiplication <br>
`/` division <br>
`**` to the power <br>
`%` modulo (remainder) <br>

Comparison operators <br>
`==` equals to <br>
`!=` not equal to <br>
`>` more than <br>
`<` less than <br>
`>=` more than or equals to <br>
`<=` less than or equals to <br>


`~` : complement <br>
`&` : bitwise and <br>
`|` : bitwise or <br>
`^` : bitwise xor <br>
`and`: logical and <br>
`or`: logical or <br>


### `and` and `&`
Use `and` for operations that yield boolean values like `is` or `is not` or `==` or so.. otherwise use `&` for bitwise or for numbers.. [use this SO link](https://stackoverflow.com/questions/3845018/boolean-operators-vs-bitwise-operators)
`&` is a bitwise operation, like 1 is `00000001` and 2 is `00000010`, so when you do `1&2` it should give `00000000`
whereby if you do `1|2` it should give `00000011` which is 3

In [16]:
3 == 4

False

In [17]:
3==3

True

In [18]:
3>4

False

In [19]:
3!=4

True

In [20]:
4/3

1.3333333333333333

In [21]:
4%3

1

## If, elif, else

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else if another case happens, perform some other action. Else-- none of the above cases happened, perform this action"

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

````python
if case1:
    doAction1()
elif case2:
    doAction2()
else: 
    doAction3()
````

In [ ]:
#indentation is very very important in Python
if (case 1):
    do_something()

In [30]:
num1 = 8
num2 = 7
num3 = 3

if num1>num2 and (num1-num2) == 1:
    print("Met first condition")
elif num3 % 3 == 0:
    print("Met second condition, Num3 is divisible by 3")
else:
    print("No conditions met")

Met first condition

In [23]:
num1>num2

True

In [24]:
(num1-num2) == 1

False

In [25]:
True and False

False

In [26]:
True and True

True

In [27]:
True or False

True

In [28]:
True or True

True

**AND**<br>
True-True = True<br>
True-False = False<br>
False - True = False<br>
False-False = False<br>

**OR**<br>
True-True = True<br>
True-False = True<br>
False - True = True<br>
False-False = False<br>

In [31]:
num1 = 8
num2 = 7
num3 = 3

if num1>num2 and (num1-num2) == 1:
    print("Met first condition")
if num3 % 3 == 0:
    print("Met second condition, Num3 is divisible by 3")
else:
    print("No conditions met")

Met first condition
Met second condition, Num3 is divisible by 3

## For loop, enumeration, range( ) and list comprehensions
**For** loop acts as an iterator in Python, it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

We've already seen the **for** statement a little bit in past lectures but now lets formalize our understanding.

Here's the general format for a **for** loop in Python:

````python
for item in object:
    doSomething()
````


**Enumerate** allows you to keep a count as you iterate through an object. It does this by returning a tuple in the form (count,element). The function itself is equivalent to:

````python
def enumerate(sequence, start=0):
    n = start
    for elem in sequence:
        yield n, elem
        n += 1
````

In [34]:
my_sentence = 'Hello, my name is Prem. I am a Data Scientist. My age is 36'

In [35]:
my_sentence.split()

['Hello,',
 'my',
 'name',
 'is',
 'Prem.',
 'I',
 'am',
 'a',
 'Data',
 'Scientist.',
 'My',
 'age',
 'is',
 '36']

In [39]:
for item in my_sentence.split():
    if item == "Hello,":
        print(item)
    else:
        print("not found")

Hello,
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found
not found

In [40]:
for item in my_sentence.split():
    if item == "Hello,":
        print(item)
    else:
        continue #similar to do nothing

Hello,

In [42]:
# loop through the my_list
for i in my_list:
    print(i)

2
modified item
4
Some string
6.129
1

In [44]:
my_sentence.replace(",","")

'Hello my name is Prem. I am a Data Scientist. My age is 36'

In [46]:
#Question1 : Loop through my_sentence and print items that begin with letter a
for word in my_sentence.split():
    if word.lower()[0] == 'a':
        print(word)
    else:
        continue

am
a
age

In [49]:
#Question2: Loop through my_sentence and print words that are more than 4 characters long
for word in my_sentence.split():
    if len(word) > 4:
        print(word)

Hello,
Prem.
Scientist.

In [55]:
#Question3: Loop through my_list and print items that are only numbers
for item in my_list:
    if type(item) == int or type(item) == float:
        print(item)

2
4
6.129
1

In [56]:
my_list

[2, 'modified item', 4, 'Some string', 6.129, 1]

In [58]:
#Question4: Loop through my_list and print even numbers
for item in my_list:
    if type(item)!= str and item%2 == 0:
        print(item)

2
4

In [59]:
for item in my_list:
    if type(item)== int and item%2 == 0:
        print(item)

2
4

In [60]:
my_list

[2, 'modified item', 4, 'Some string', 6.129, 1]

In [62]:
#a range is a very quick way to generate some new dataset
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
#range(start,stop,step_size) => does not include stop!
list(range(1,30,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [69]:
#Question 5: print the first x multiples of 8 from 0-50
multiples_of_8 = []
for i in range(0, 51):
    if i % 8==0:
        multiples_of_8.append(i)

In [70]:
multiples_of_8

[0, 8, 16, 24, 32, 40, 48]

In [71]:
list(range(0, 51,8))

[0, 8, 16, 24, 32, 40, 48]

In [72]:
for i in my_list:
    if i == 'modified item':
        print(i)

modified item

In [75]:
for i,v in enumerate(my_list):
    if v == 4:
        print("Found the {} at index {}".format(v, i))

Found the 4 at index 2

In [76]:
my_tuple = (2, 'modified item', 4, 'Some string', 6.129, 1)

In [79]:
my_tuple[1] = 'additional modified'

TypeError: 'tuple' object does not support item assignment

In [80]:
my_tuple[1]

'modified item'

In [82]:
for item in my_tuple:
    if type(item)!= str and item%2 == 0:
        print(item)

2
4